.upload-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  width: 100%;

  input {
    display: none;
  }

  label {
    background-color: $white;
    border-radius: 0.5rem;
    color: $lightBlue;
    cursor: pointer;
    padding: 0.5rem 1rem;

    &.disabled {
      cursor: default;
    }
  }

  .filename {
    padding: 0.5rem 0 0;
  }
}
